.animalsImg {
  width: 250px;
}

.heartImg0 {
  width: 50px;
}

.heartImg1 {
  width: 60px;
}

.heartImg2 {
  width: 70px;
}

.heartImg3 {
  width: 80px;
}

.heartImg4 {
  width: 90px;
}

.heartImg5 {
    width: 100px;
  }
  