.animalList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.animalsShow {
  position: relative;
  border: 1 solid lightgray;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0px 3px 4px lightgray;
}

.animalsImg {
  width: 200px;
}

.heartImg0 {
  width: 10px;
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.heartImg1 {
  width: 20px;
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.heartImg2 {
  width: 30px;
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.heartImg3 {
  width: 40px;
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.heartImg4 {
  width: 50px;
  position: absolute;
  bottom: 10%;
  right: 10%;
}